site_name: legal-consultant-agent
repo_url: https://github.com/Paraschamoli/legal-consultant-agent
site_url: https://Paraschamoli.github.io/legal-consultant-agent
site_description: A Legal Consultant Agent is an AI-powered assistant that helps with legal research and analysis by interpreting laws, contracts, and case materials, summarizing key legal points, identifying risks and compliance issues, and providing structured, easy-to-understand legal insights to support informed decision-making.
site_author: Paras Chamoli
edit_uri: edit/main/docs/
repo_name: Paraschamoli/legal-consultant-agent
copyright: Maintained by <a href="https://Paraschamoli.com">Paraschamoli</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/legal_consultant_agent"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Paraschamoli/legal-consultant-agent
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/legal-consultant-agent

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
